* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: transparent;
	padding-bottom: 2px;
}

#workspaces {
	margin: 2px 0 0 5px;
	border: 1px solid #A89984;
	background-color: #191919;
}

#workspaces button {
	color: white;
	transition: ease-in 0.2s;
	border-radius: 0;
	padding: 5px 7px;
}

#workspaces button.active {
	color: white;
	background-color: #458588;
}

#workspaces button.urgent {
	color: white;
	background-color: #D65D0E;
}

#tray {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	border: 1px solid #A89984;
	background-color: #191919;
}

#clock {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	padding-right: 18px;
	font-weight: bold;
	border: 1px solid #A89984;
	background-color: #191919;
}

#pulseaudio {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	color: #ff665f;
	transition: ease-in 0.2s;
	font-weight: bold;
	border: 1px solid #A89984;
	background-color: #191919;
}

#pulseaudio:hover {
	background-color: #ff665f;
	color: #fff;
}

#disk {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	color: #458588;
	transition: ease-in 0.2s;
	font-weight: bold;
	border: 1px solid #A89984;
	background-color: #191919;
}

#disk:hover {
	background-color: #458588;
	color: #fff;
}

#cpu {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	color: #689d6a;
	transition: ease-in 0.2s;
	font-weight: bold;
	border: 1px solid #A89984;
	background-color: #191919;
}

#cpu:hover {
	background-color: #689d6a;
	color: #fff;
}

#memory {
	margin: 2px 0 0 5px;
	padding: 0 7px;
	color: #FE8019;
	transition: ease-in 0.2s;
	font-weight: bold;
	border: 1px solid #A89984;
	background-color: #191919;
}

#memory:hover {
	background-color: #FE8019;
	color: #fff;
}

#custom-power {
	margin: 2px 5px 0 5px;
	padding: 0 10px;
	padding-right: 14px;
	color: #fff;
	transition: ease-in 0.2s;
	border: 1px solid #A89984;
	background-color: #191919;
}

#custom-power:hover {
	background-color: #cc241d;
	color: #fff;
}
