* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
  background-color: #333399;
  margin: 2px 0 0 5px;
  border-radius: 10px;
  font-weight: bold;
  padding: 0 5px;
}

#workspaces button {
  padding-right: 13px;
  transition: ease-in 0.2s;
  margin: 0;
  padding: 5px 8px;
}

#workspaces button.active {
  border-bottom: 3px solid #abbcda;
  border-radius: 0;
  margin: 0;
  padding: 5px 12px 2px 8px;
}

#workspaces button.urgent {
  border-bottom: 3px solid #C50;
  border-radius: 0;
  margin: 0;
  padding: 5px 8px;
}

#workspaces button:hover {
  border-top: 3px solid #abbcda;
  border-radius: 0;
  margin: 0;
  padding: 2px 8px;
}

#tray {
  background-color: #015099;
  color: #000;
  margin: 2px 3px;
  padding: 0 8px;
  border-radius: 10px;
}

#clock {
  background-color: #abbcda;
  color: #000;
  margin: 2px 0;
  padding: 0 10px 0 5px;
  border-radius: 10px;
}

#pulseaudio {
  background-color: #f0bf3f;
  color: #000;
  margin: 2px 3px;
  padding: 0 10px 0 5px;
  border-radius: 10px;
}

#cpu {
  background-color: #609f7f;
  color: #000;
  margin: 2px 3px;
  padding: 0 10px 0 5px;
  border-radius: 10px;
}

#memory {
  background-color: #D95945;
  color: #000;
  margin: 2px 3px;
  padding: 0 10px 0 5px;
  border-radius: 10px;
}

#custom-power {
  background-color: #333399;
  color: #FFF;
  margin: 2px 3px;
  margin-right: 5px;
  padding: 0 15px 0 10px;
  border-radius: 10px;
}

#custom-power:hover {
  background-color: #abbcda;
  color: #000;
  transition: ease-in 0.25s;
}
