* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border: 1px solid white;
}

.modules-left, .modules-center, .modules-right {
  color: white; 
}

#workspaces button {
  padding: 0 4px;
  padding-right: 8px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: #FFF;
}

#workspaces button.active {
  color: black;
  background-color: #FFF;
}

#workspaces button.urgent {
  background-color: #cc5500;
  color: white;
}

#mpris {
  font-size: 12px;
  margin-left: 8px;
  background-color: transparent;
}

#clock {
  background-color: transparent;
  margin: 0;
  padding: 0 8px;
  font-size: 14px;
  font-weight: bold;
}

#tray {
  background-color: transparent;
  padding: 0 8px;
  border: 1px solid white;
}

#network {
  border: 1px solid white;
  font-size: 15px;
  background-color: transparent;
  padding: 0 12px;
  padding-right: 14;
  color: white;
}

#pulseaudio {
  border: 1px solid white;
  background-color: transparent;
  padding: 0 10px;
  font-weight: bold;
  color: white;
}

#cpu {
  border: 1px solid white;
  background-color: transparent;
  padding: 0 4px;
  font-size: 15px;
  padding-right: 6px;
  color: white;
}
#custom-power {
  background-color: transparent;
  margin: 0;
  padding: 0 10px;
  padding-right: 14px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#custom-power:hover {
  color: black;
  background-color: white;
}
