* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(20, 20, 20, 0.85);
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(251, 241, 199, 0.13);
}

#custom-sep {
	color: rgba(80, 80, 80, 0.9);
	margin: 0 2px;
}

#workspaces button {
	transition: ease-in 0.2s;
	border-radius: 0;
	padding: 5px 7px;
	color: #fbf1c7;
}

#workspaces button.active {
	background-color: #458588;
	font-weight: bold;
}

#workspaces button.urgent {
	background-color: #d65d0e;
	font-weight: bold;
}

#custom-weather {
	margin: 0 10px;
	color: #fabd2f;
	font-weight: bold;
}

#media {
	margin-left: 4px;
	color: #d3869b;
}

#custom-media-animation {
	color: #d3869b;
	font-size: 13px;
	margin-right: 10px;
}

#custom-media-now-playing {
	color: #d3869b;
	margin-right: 10px;
}

#custom-media-time {
	color: #b16286;
	font-size: 11px;
}

#tray {
	margin-right: 4px;
}

#pulseaudio {
	color: #ff665f;
	transition: ease-in 0.2s;
	font-weight: bold;
	margin: 0 2px;
}

#pulseaudio:hover {
	color: #bf261f;
}

#disk {
	color: #458588;
	transition: ease-in 0.2s;
	font-weight: bold;
	margin: 0 2px;
}

#disk:hover {
	color: #155558;
}

#cpu {
	color: #689d6a;
	transition: ease-in 0.2s;
	font-weight: bold;
	margin: 0 2px;
}

#cpu:hover {
	color: #286d2a;
}

#memory {
	color: #fe8019;
	transition: ease-in 0.2s;
	font-weight: bold;
	margin: 0 2px;
}

#memory:hover {
	color: #be5003;
}

#clock {
	font-weight: bold;
	color: #fbf1c7;
	margin: 0 2px;
}

#network {
	font-weight: bold;
	color: #fbf1c7;
	margin: 0 10px 0 2px;
}
